body {
  text-align: center;
  background-color: blanchedalmond;
}

.ProductForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  border: solid 10px rgb(104, 104, 104);
  border-radius: 60px;
  background-color: blanchedalmond;
}

button {
  border-radius: 6px;
  background-color: aliceblue;
}